<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <p>I'm the team page</p>
    <ul>
      <% for (const member of myTeam) { %>
      <li><%=member.name %></li>
      <% } %>
    </ul>
  </body>
</html>
